/** --------------------------------- NAVBAR --------------------------------- **/
.nav-container {
    height: 60px;
}

.nav-wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-center {
    flex: 1;
    text-align: center;
}

.nav-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-language {
    font-size: 16px;
    cursor: pointer;
}

.nav-search-container {
    border: 0.5px solid lightgrey;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.nav-search-bar {
    border: none;
}

.nav-logo {
    font-weight: bold;
}

.nav-menu-item {
    font-size: 16px;
    cursor: pointer;
    margin-left: 25px;
}

.fa-shopping-cart {
    font-size: 18px;
}

.fa-search {
    font-size: 16px;
    color: gray;
}


/** ------------------------------ ANNOUNCEMENTS ----------------------------- **/
.ann-container {
    height: 30px;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}


/** --------------------------------- SLIDER --------------------------------- **/
.slider-container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.slider-leftArrow {
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
    z-index: 2;
}

.slider-rightArrow {
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
    z-index: 2;
}

.slider-wrapper {
    height: 100%;
    display: flex;
    transition: 0.5s;
    transform: translateX(-100vw);
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.slider-image {
    flex: 1;
    height: 100%;
}

.slider-img {
    height: 80%;
}

.slider-info {
    flex: 1;
    padding: 50px;
}

.info-title {
    font-size: 70px;
}

.info-description {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}

.info-btn {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

/** -------------------------------- CATEGORY -------------------------------- **/
.category-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.category-item-container {
    flex: 1;
    margin: 3px;
    height: 70vh;
}

.category-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-item-info {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-item-title {
    color: white;
    margin-top: -200px;
    font-size: 50px;
    margin-bottom: 15px;
}

.category-item-btn {
    border: none;
    padding: 10px;
    background-color: white;
    color: grey;
    cursor: pointer;
    font-weight: 600;
}

/** --------------------------------- PRODUCT -------------------------------- **/
.product-main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.product-title {
    font-size: 50px;
    font-weight: 900;
}

.products-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/** ------------------------------ PRODUCT ITEM ------------------------------ **/
.product-item-container {
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.product-item-img {
    height: 100%;
    z-index: 2;
}

.product-item-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.product-item-info {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item-icon1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: -450px;
    cursor: pointer;
}

.product-item-icon2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: -350px;
    cursor: pointer;
}

.product-item-icon3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: -250px;
    cursor: pointer;
}

.product-item-icon1:hover {
    transform: scale(1.5);
}

.product-item-icon2:hover {
    transform: scale(1.5);
}

.product-item-icon3:hover {
    transform: scale(1.5);
}


/** ------------------------------- NEWSLETTER ------------------------------- **/
.newsletter-container {
    height: 60vh;
    background-color: #fcf5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newsletter-title {
    font-size: 70px;
    margin-bottom: 20px;
}

.newsletter-description {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.newsletter-input-container {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
}

.newsletter-input {
    border: none;
    flex: 8;
    padding-left: 20px;
    font-size: 16px;
}

.newsletter-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: teal;
    color: white;
}


/** --------------------------------- FOOTER --------------------------------- **/
.footer-container {
    display: flex;
}

.footer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer-logo {
    font-weight: bold;
}

.footer-description {
    margin: 20px 0px;
}

.footer-socials {
    display: flex;
}

.footer-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.footer-center {
    flex: 1;
    padding: 20px;
}

.footer-center-title {
    margin-bottom: 30px;
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-list-item {
    width: 50%;
    margin-bottom: 10px;
}

.footer-right {
    flex: 1;
    padding: 20px;
}

.footer-right-title {
    margin-bottom: 30px;
}

.footer-contact-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer-img {
    width: 50%;
}


/** ---------------------------------- PAGE ---------------------------------- **/

/** ------------------------------- ProductList ------------------------------ **/

.pl-title {
    font-size: 20px;
    margin: 20px;
}

.pl-filter-container{
    display: flex;
    justify-content: space-between;
}

.pl-filter {
    margin: 20px;
}

.pl-filter-text {
    font-size: 20px;
    font-weight: 600;
}

.pl-filter-select {
    padding: 5px;
    margin-right: 20px;
}

.pl-filter-text {
    margin-right: 20px;
}


/** ---------------------------------- PAGE ---------------------------------- **/
/** ----------------------------- PRODUCT DETAIL ----------------------------- **/
.p-wrapper {
    padding: 50px;
    display: flex;
}

.p-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-info-container {
    flex: 1;
}

.p-img {
    width: 60%;
}

.p-title {
    font-weight: 400;
}

.p-description {
    width: 80%;
    font: 30px;
    margin: 20px 0px;
    text-align: justify;
}

.p-price {
    font-weight: 100;
    font-size: 40px;
}

.p-filter-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

.p-filter-color {
    display: flex;
    align-items: center;
}

.p-filter-size {
    display: flex;
    align-items: center;
}

.p-filter-title {
    font-size: 18px;
    font-weight: 200;
}

.p-option1 {
    background-color: black;
    color: black;
}
.p-option2 {
    background-color: darkblue;
    color: darkblue;
}
.p-option3 {
    background-color: gray;
    color: gray;
}

.p-amount-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.p-amount {
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
}

.p-btn {
    padding: 15px;
    border: 2px solid teal;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

.p-btn:hover {
    background-color: #f8f4f4;
}
